parameters:
    level: 6
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    treatPhpDocTypesAsCertain: false
    bootstrapFiles:
        - config/paths.php
        - vendor/cakephp/cakephp/src/functions.php
    paths:
        - src/
        - templates/
        - tests/
        - plugins/
        - config/
    excludePaths:
        - templates/AppUsers/